#title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #f2e8e8;
    transition: 0.3s;
    
}

*{
    margin: 0%;
    padding: 0%;
}

#header{
    background-color:cadetblue;
    display: block;
    border-radius: 6px;
    width: 100%;
    height: fit-content;
    transition: 0.3s;
    cursor: pointer;
    border-bottom:blueviolet;

}

#header:hover{
    background-color: pink;
}

#title:hover{
    transform: translateY(3px);
    color:black;
}

ul{
    list-style-type: none;
}

.navbar{
    display: flex;
    align-items:end;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    /* align-items:end; */
    justify-content: space-between;
    gap: 60px;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: end;
}

.nav-link{
    transition: 0.3s ease;
}
.nav-link:hover,
nav-link:hover#active
{
    color:pink;
}


.hamburger{
    display: none;
    cursor: pointer;
    align-items:last baseline;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:cadetblue;
    
}

@media (max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left:-100%;
        top:70px;
        gap:0;
        flex-direction:column;
        background-color:cadetblue;
        width: 100%;
        text-align: center;
        transition: 0.3s;
}

    .nav-item{
        margin: 16px 0px;
    }

    .nav-menu.active{
        left:0;
    }
}
