#title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #f2e8e8;
    transition: 0.3s;
    
}

*{
    margin: 0%;
    padding: 0%;
}

#header{
    background-color:cadetblue;
    display: block;
    border-radius: 6px;
    width: 100%;
    height: fit-content;
    transition: 0.3s;
    cursor: pointer;
    border-bottom:blueviolet;

}

#header:hover{
    background-color: #f48c8c;
}

#title:hover{
    transform: translateY(3px);
    color:black;
}

