.list-size .item-list-button-red {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: red;
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
  } 
.item-list-button-red:hover {
    border: 2px solid whitesmoke;
}
.item-list-button-red:focus {
    background-color: red;
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.list-size .item-list-button-blue {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: blue;
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
}
.item-list-button-blue:hover {
    border: 2px solid whitesmoke;
}
.item-list-button-blue:focus {
    background-color: blue;
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.list-size .item-list-button-green {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: green;
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
}
.item-list-button-green:hover {
    border: 2px solid whitesmoke;
}
.item-list-button-green:focus {
    background-color: green;
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
  }

.list-size .item-list-button-yellow {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: yellow;
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
}
.item-list-button-yellow:hover {
    border: 2px solid whitesmoke;
}
.item-list-button-yellow:focus {
    background-color: yellow;
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.list-size .item-list-button-orange {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: orange;
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
}
.item-list-button-orange:hover {
    border: 2px solid whitesmoke;
}
.item-list-button-orange:focus {
    background-color: orange;
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.list-size .item-list-button-pink {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: pink;
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
}
.item-list-button-pink:hover {
    border: 2px solid whitesmoke;
}
.item-list-button-pink:focus {
    background-color: pink;
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.list-size .item-list-button-black {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: rgb(0, 0, 0);
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
}
.item-list-button-black:hover {
    border: 2px solid whitesmoke;
}
.item-list-button-black:focus {
    background-color: rgb(0, 0, 0);
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.list-size .item-list-button-white {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
}
.item-list-button-white:hover {
    border: 2px solid rgb(255, 128, 128);
}
.item-list-button-white:focus {
    background-color: rgb(255, 255, 255);
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.list-size .item-list-button-brown {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: brown;
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
}
.item-list-button-brown:hover {
    border: 2px solid whitesmoke;
}
.item-list-button-brown:focus {
    background-color: brown;
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.list-size .item-list-button-violet {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: violet;
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
}
.item-list-button-violet:hover {
    border: 2px solid whitesmoke;
}
.item-list-button-violet:focus {
    background-color: violet;
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}