body{
    background-image: url(/New_website/bg_imgs/web_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    position:fixed;
    top: 35px;
    left: 0px;
    padding: 10px;
    font-size: 20px;
    z-index: 100;
    background-color: aliceblue;
    width: 100%;
    height: 30px;
    display : flex;
    align-items: center;
    justify-content:space-around;
}

nav img{
    width: 30px;
    height: 30px;
    /* padding-right: 200px; */
}

#nav_logo {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    height: max-content;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 15px;
    word-spacing: 50px;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background: url(/New_website/bg_imgs/banner_bg.jpg);
    animation: gradient 120s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.menu_bar li{
    display: inline-block;
    padding-right: 30px;
    margin: 0px 10px;
    right: 0%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgba(255, 0, 0, 0.486);
    transition: .25s;
}

.button{
    display:none;
}