@media all and (max-width : 650px){
    #nav_logo{
        word-spacing: 15px;
        letter-spacing: 5px;
    }
    nav{
        height: max-content;
        flex-direction: column;
    }

    nav img{
        align-self: flex-start;
    }

    .menu_bar li{
        display : block;
        font-size: 30px;
        padding: 10px 0;
    }

    ul{
        text-align: center;
        padding: 0;
        display: none;
    }

    .button{
        display: block;
        position: absolute;
        top: 9px;
        right: 25px;
    }

    ul {
        animation-fill-mode: both;
    }
      
    .active_nav {
        display: block;
        animation: dropdown_1 .5s;
        animation-fill-mode: both;
    }
      
    @keyframes dropdown_1 {
        0% {
          height: 30px;
        }
        100% {
          height:290px ;
        }
    }

    .active_links {
        display: block;
        animation: dropdown .5s;
        animation-fill-mode: both;
    }
      
    @keyframes dropdown {
        0% {
            opacity: 0; 
            transform: translateY(-100%);
        }
        50%{
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .inactive_nav {
        display: block;
        animation: dropdown_1_reverse .5s;
        animation-fill-mode: both;
    }
      
    @keyframes dropdown_1_reverse {
        0% {
          height: 290px;
        }
        100% {
          height: 30px;
        }
    }

    .inactive_links {
        display: block;
        animation: dropdown_reverse .5s;
        animation-fill-mode: both;
    }
      
    @keyframes dropdown_reverse {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        10%{
            opacity: 0;
        }
        100% {
            opacity: 0; 
            transform: translateY(-100%);
        }
    }
}