section {
    position: relative;
    min-height:2000px;
    top: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 1s;
    max-height: max-content;
    overflow-y: hidden;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/New_website/bg_imgs/summa2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    animation: zoom linear;
    animation-timeline: scroll(X);
}

#home h1{
    font-size: 50px;
    font-weight: 700;
    position: absolute;
}

#products h1{
    font-size: 50px;
    font-weight: 700;
    top: 0px;
    left: 50px;
}