section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height:300px;
    top: 70px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap:balance ;
    color: #fff;
}

#home {
    align-items: center;
    justify-content: center;
    background-image: url(/New_website/bg_imgs/summa2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

#home h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

#products h1{
    font-size: 50px;
    font-weight: 700;
    top: 0px;
    left: 50px;
}