body{
    margin: 0px;
    padding: 0px;
    background : url(web_bg.jpg) ;
    background-size:cover;
}

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    font-size: 20px;
    z-index: 100;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 30px;
    display : flex;
    align-items: center;
    justify-content: space-around;

}

nav li{
    padding: 0px;
    display: inline-block ;
    margin: 0 10px;
}

nav a , .contact_card2 h3 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .5s
    ;
}

.logo{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover{
    color: red;
}

.contact_card2 a:hover{
    color: rgb(103, 108, 253);
}

nav a.active {
    color: red;
    font-weight: bold;
  }

.hamburger{
    display: none;
}

section {
    min-height: 100vh;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 1s;
}

.product_cards li{
    display: inline-block;
    margin: 5px;
}

@media all and (max-width : 650px){
    nav{
        height: max-content;
        flex-direction: column;
    }
    nav li{
        display : block;
        font-size: 30px;
        padding: 10px 0;
    }

    ul{
        text-align: center;
        padding: 0;
        display: none;
    }

    .logo{
        align-self: flex-start;
        size: 20px;
    }

    .hamburger{
        display: block;
        position : absolute;
        top: 1px;
        right: 30px;
    }

    .active{
        display: block;
    }
    ul {
        animation: dropdown 0.5s forwards;
        animation-fill-mode: both;
    }
      
    .active {
        animation: dropdown 1s forwards;
        animation-fill-mode: both;
    }
      
    @keyframes dropdown {
        0% {
          transform: translateY(-100%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
    }

    .product_cards{
        display: block;
    }
}