body{
    margin: 0px;
    padding: 0px;
    background-image: url(web_bg.jpg);
    background-size:cover;
    background-attachment: scroll;
}

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    font-size: 20px;
    z-index: 100;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    width: 100%;
    height: 30px;
    display : flex;
    align-items: center;
    justify-content: space-around;

}

nav li{
    padding: 0px;
    display: inline-block ;
    margin: 0 10px;
}

nav a , .contact_card2 h3 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .5s
    ;
}

.logo{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover{
    color: red;
}

.contact_card2 a:hover{
    color: rgb(103, 108, 253);
}

nav a.active {
    color: red;
    font-weight: bold;
  }

.hamburger{
    display: none;
}

section {
    min-height:200px;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 1s;
}

.product_cards li{
    display: inline-block;
    margin: 5px;
}

@media all and (max-width : 650px){
    nav{
        height: max-content;
        flex-direction: column;
    }
    nav li{
        display : block;
        font-size: 30px;
        padding: 10px 0;
    }

    ul{
        text-align: center;
        padding: 0;
        display: none;
    }

    .logo{
        align-self: flex-start;
        size: 20px;
    }

    .hamburger{
        display: block;
        position : absolute;
        top: 1px;
        right: 30px;
    }

    .active{
        display: block;
    }
    ul {
        animation: dropdown 0.5s forwards;
        animation-fill-mode: both;
    }
      
    .active {
        animation: dropdown 1s forwards;
        animation-fill-mode: both;
    }
      
    @keyframes dropdown {
        0% {
          transform: translateY(-100%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
    }

    .product_cards{
        display: block;
    }
}



/* infinite scroll */

.wrapper {
    margin-top: 2rem;
    padding-top: 50px;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    height: 100px;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }
  
  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }
  
  @keyframes scrollRight {
    to {
      right: -200px;
    }
  }
  
  .itemLeft,
  .itemRight {
    width: 200px;
    height: 100px;
    background-color: #cdbec2;
    border-radius: 6px;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  
  .itemLeft {
    left: max(calc(200px * 4), 100%);
    animation-name: scrollLeft;
  }
  
  .itemRight {
    right: max(calc(200px * 4), calc(100% + 200px));
    animation-name: scrollRight;
  }
  
  .item1 {
    animation-delay: calc(30s / 4 * (4 - 1) * -1);
  }
  
  .item2 {
    animation-delay: calc(30s / 4 * (4 - 2) * -1);
  }
  
  .item3 {
    animation-delay: calc(30s / 4 * (4 - 3) * -1);
  }
  
  .item4 {
    animation-delay: calc(30s / 4 * (4 - 4) * -1);
  }
  
  .wrapper a{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 700;
      text-align: center;
      font-size:25px;
      color: black;
      padding-top: 15px;
      text-decoration: none;
      
  }
  
  .leggines{
      position: relative;
      left:30px;
      top:30px;
  }
  
  .bra{
      position: relative;
      left:65px;
      top:30px;
  }
  
  .panties{
      position: relative;
      left:40px;
      top:30px;
  }
  
  .innerwears{
      position: relative;
      left:0px;
      top:30px;
  }
  
  /* .wrapper a:hover{
    background-color: antiquewhite; */
    
  }
  
  ::before,
  ::after{
    
  }
  #home{
    height:fit-content;
    align-items: first baseline;
    justify-content:first baseline;
  }