.card {
    --bg-card: #5e5e5e;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #ffffff;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  
    position: relative;
  
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1rem;
    width: 300px;
    height: fit-content;
    background-color: var(--bg-card);
    border-radius: 1rem;
  }
  
  .image_container {
    overflow: hidden;
  
    position: relative;
    z-index: 5;
  
    width: 100%;
    height: 300px;
    background-color: white;
  
    border-radius: 0.5rem;
  }
  
  .image_container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    
    width: 20rem;
    fill: white;
  }
  
  .title {
    overflow: clip;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-overflow: ellipsis;
  }
  
  .Colours {
    margin-top : 5px;
    margin-left: 0;
    font-size: 20px;
    color: var(--light);
  }
  
  .list-Colours {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-left: 0;
    padding: 0;
    margin-top: 1px;
  }
  
  .list-Colours .item-list {
    list-style: none;
  }
  
  .action {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .price {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
    margin-left: 40%;
  }
