.list-size .item-list-button {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: red;
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
  } 
.item-list-button:hover {
    border: 2px solid whitesmoke;
}
.item-list-button:focus {
    background-color: red;
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}